<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
          rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h3 class="text-muted">How To Upload a File</h3>
      </div>
      <hr/>
      <div>
      
      <form action="add" method="post">
        <input type="text" name="title" placeholder="title">
        <br><br>
        <input type="text" name="date" placeholder="date">
        <input type="submit" value="Add" placeholder="date">
      </form>
        <br><br><br>
      <form action="deleteForm" method="post">
        <input type="text" name="id" placeholder="id">
        <input type="submit" value="Delete" placeholder="date">
      </form>

      </div>
    </div>
  </body>
</html>